{% extends 'chirp_app/base.html' %}

{% load static %}

{% block content %}

    <div class="intro">
        <h3 class="top">Publications</h3>
    </div>

    <div class="card-columns">
        <div class="card">
            <img class="card-img-top" src="{% static 'img/KVN2.png' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><a target="_blank" href="https://amygarey.files.wordpress.com/2018/11/garey_agents-of-humor_anthropology_news.pdf">“Agents of Humor? Students in Russia and Ukraine Address Global Politics through Local Comedy.”</a></h5>
                <p class="card-text"><span style="font-style:italic">Anthropology News</span> September 21, 2017. doi: 10.1111/AN.623</p>
            </div>
        </div>

        <div class="card p-3">
            <blockquote class="blockquote mb-0 card-body">
            <p>"There is nothing in the world so irresistibly contagious as laughter and good humor."</p>
            <footer class="blockquote-footer">
                <small class="text-muted">
                Charles Dickens, <cite title="Source Title">A Christmas Carol</cite>
                </small>
            </footer>
            </blockquote>
        </div>

        <div class="card">
            <div class="card-body">
            <h5 class="card-title"><a target="_blank" href="https://www.scribd.com/doc/284376449/Why-is-the-Cook-on-the-Radio-Warrior-Women-and-Welfare-Mothers-in-the-American-ArmedForces">“Why is the Cook on the Radio? Warrior Women and Welfare Mothers in the American Armed Forces.”</a></h5>
            <p class="card-text"><span style="font-style:italic">Michigan Feminist Studies </span> 23: 53-75.</p>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="{% static 'img/soviet.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><a target="_blank" href=" http://www.soclabo.org/index.php/laboratorium/article/view/22/55 ">“How it Was: Semiotic Approaches to Soviet Symbols.”</h5></a>
                <p class="card-text"><span style="font-style:italic">Laboratorium</span> 4(2): 27-50.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
            <h5 class="card-title"><a target="_blank" href="http://www.limina.arts.uwa.edu.au/volumes/17/garey">“Aleksandr Galich: Performance and the Politics of the Everyday.” 
            </a></h5>
            <p class="card-text"><span style="font-style:italic">Limina</span> 17: 1-13.</p>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="{% static 'img/KVN1.png' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><a target="_blank" href="https://www.scribd.com/document/492497764/The-People-s-Laughter-War-Comedy-and-the-Soviet-Legacy">“The People's Laughter: War, Comedy, and the Soviet Legacy.”</h5></a>
                <p class="card-text">PhD dissertation, University of California, Los Angeles, 2020</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
            <h5 class="card-title"><a target="_blank" href="https://www.scribd.com/document/284373896/Soviet-Reflections-Music-Nostalgia-and-Personhood-among-Post-Soviet-Immigrants">“Soviet Reflections: Music, Nostalgia, and Personhood among (Post-) Soviet Immigrants.” </a></h5>
            <p class="card-text">In Memory and Periphery. Special issue, <span style="font-style:italic">Hagar </span> 12(1): 46-72.</p>
            </div>
        </div>

    </div>

        <!-- <div class="card bg-primary text-white text-center p-3">
            <blockquote class="blockquote mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
                <footer class="blockquote-footer">
                    <small>
                        Someone famous in <cite title="Source Title">Source Title</cite>
                    </small>
                </footer>
            </blockquote>
        </div>
        
        <div class="card">
            <img class="card-img" src="..." alt="Card image">
        </div>

        <div class="card p-3 text-right">
            <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">
                <small class="text-muted">
                Someone famous in <cite title="Source Title">Source Title</cite>
                </small>
            </footer>
            </blockquote>
        </div> -->

    </div>

{% endblock content %}